{% extends 'base.html' %}

{% block head %}
<title>Simple news</title>
{% endblock %}

{% block body %}
<div class="content">
	<h1 style="text-align: center;">
		Simple news on python
	{% if news|length < 1%}
		<h4>There's no new news for now)</h4>
	{% else %}
	</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>News</th>
					<th>Date</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
			{% for i in news %}	
				<tr>
					<td>{{i.id }}</td>
					<td><a href="/{{ i.id }}/">{{ i.Title }}</a></td>
                	<td>{{ i.date_created.date() }}</td>
                	<td><a href="/{{ i.id }}/delete/">Delete</a><br><a href="/{{ i.id }}/update/">Update</a></td>

				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<form action="/" method="POST">
		<a>Title</a><br>
		<input type="text" name="title"><br>
		<a>Content</a><br>
		<textarea name="content"></textarea><br>
		<input type="submit" value="Add news">
	</form>
</div>
{% endblock %}